---
extends: default

ignore: |
  "/{{ cookiecutter.role_name}}/**/*.yml"

rules:
  braces:
    max-spaces-inside: 1
    level: error
  brackets:
    max-spaces-inside: 1
    level: error
  line-length: disable
  truthy: disable
